<div class="page-Header">
  <div class="container">
    <h1>MMDC</h1>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <a class="navbar-brand" [routerLink]="['/user']">Users</a>
          <a class="navbar-brand" [routerLink]="['/group']">Groups</a>
          <a class="navbar-brand" [routerLink]="['/messages']">Messages</a>
          <a class="navbar-brand" [routerLink]="['/InputOutput']">InputOutput</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>